---
import Base from '../layouts/Base.astro';
---

<Base title="vNext Labs">
  <div class="intro">
    <h1>vNext Labs is a space where I formalize <a href="/projects">product offerings</a> from projects I've independently built.</h1>
  </div>

  <div class="section">
    <p>
      I'm <a href="https://nateschneider.com">Nate</a>, and building software is what I do and what I think about. As an engineer and CTO, I'm always exploring new ideas and opportunities. vNext Labs is where the ones that provide real value are formally offered as <a href="/projects">products</a>.
    </p>
    <p>
      This is also where I <a href="/services">help and support</a> others trying to do the same.
    </p>
  </div>

  <div class="section">
    <h2>Projects</h2>
    <p class="coming-soon">Coming Soon</p>
  </div>

  <div class="section">
    <h2>Services</h2>
    <p>
      Building software is what I love, and helping others through that process is just as rewarding. Here are the <a href="/services">types of engagements</a> I've taken on.
    </p>
  </div>
</Base>
